# Copy to .env and fill in. See main.py for defaults of unset values.

LCLSTREAM_EXAMPLE_TOKEN_FILE=.secrets/s3df_token
# LCLSTREAM_EXAMPLE_API_URL=https://lcls-data-portal.slac.stanford.edu/lclstream-dev
# LCLSTREAM_EXAMPLE_SOURCE_IDENTIFIER=exp=mfx100848724,run=51,dir=/sdf/data/lcls/ds/prj/public01/xtc
